# Dependências
node_modules/
.vercel/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistemas operacionais
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Arquivos temporários
*.tmp
*.temp